.skill{
	display: inline;
	white-space: nowrap;
}
.skill img{
	vertical-align: middle;
	margin: 0 5px;
	width: 1.7em;
}
:global(.Popover-body){
	background: rgba(0,0,0,0.9);
	width: 300px;
	color: white;
	padding: 10px;
	text-shadow: black 0px 1px 0px;
}