.skill{
	font-size: 10pt;
	line-height: 1.2em;
}
.skill h4{
	font-weight: bold;
	display: inline;
	color: #ffcc77;
	font-size: inherit;
}
.description{
	margin: 10px 0;
}
.cast{
	float: right;
	margin-left: 10px;
}
.facts{
	list-style: none;
	padding: 0;
	color: #aaa;
	margin: 0;
}
.facts li:after{
	display: block;
	content: "";
	clear: both;
}
.icon{
	display: block;
	float: left;
	position: relative;
}
.icon img{
	height: 32px;
}
.icon .stack{
	position: absolute;
	bottom: 0;
	right: 0;
	color: white;
	text-shadow: black 0px 2px 0px;
	font-size: 10pt;
}
.detail{
	padding-top: 5px;
	padding-left: 40px;
}