.nav{
	font-size: 9pt;
	text-transform: uppercase;
	background-color: #E5E5E5;
	padding: 10px 0;
	margin: 0;
	margin-bottom: 60px;
}
.nav a{
	text-decoration: none;
	color: #06812E;
}
.nav li{
	display: inline;
	margin-left: 20px;
}
.nav img{
	vertical-align: middle;
}
.main{
	font-size: 120%;
	font-weight: bold;
}
@media (max-width: 768px){
	.nav li{
		display: block;
		margin: 0;
	}
	.nav li a{
		display: block;
		white-space: nowrap;
		padding: 0 10px;
	}
}