.container{
	width: 960px;
	margin: auto;
	margin-bottom: 40px;
}

.preamble{
	font-size: 16pt;
	margin: 60px 40px;
	line-height: 2em;
}

.classHeader{
	padding-left: 148px;
}

.profession{
	float: left;
}

.warn{
	color: #EA7D00;
}
.tip{
	color: #005AA1;
}
.warn:before, .tip:before{
  font: normal normal normal 16px/1 octicons;
  display: inline-block;
  text-decoration: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin-right: 5px;
}
.warn:before{
	content: '\f02d';
}
.tip:before{
	content: '\f059'
}

.amber{
	color: #DBD004;
}

@media (max-width: 960px){
	.container{
		width: 100%;
		box-sizing: border-box;
		padding: 0 10px;
	}
}
@media (max-width: 768px){
	.preamble{
		font-size: 12pt;
		margin: 40px 20px;
	}
	.classHeader{
		padding: 0;
	}
	.profession{
		float: none;
		display: block;
		margin: auto;
	}
}